.TextBox_main {
z-index: 3;
position: absolute;
bottom: -10px;
right: 0px;
left: -45px;
min-height: 475px;
max-height: 475px;
background-blend-mode: darken;
border-radius: 0px 0px 0px 0px;
font-weight: bold;
color: white;
padding: 170px 100px 70px 530px;
box-sizing: border-box;
display: flex;
flex-flow: column;
align-items: flex-start;
letter-spacing: 0.2em;
transition: left 0.33s;
opacity: 1 !important;
width: 103.5%;
}

.TextBox_main_miniavatarOff {
left: px;

}

.TextBox_Background {
z-index: 2;
background: url("game/template/assets/talk_back.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
opacity: 1 !important;
}

.TextBox_textElement_start {
position: relative;
animation: TextDelayShow 1000ms ease-out forwards;
opacity: 0;
}

.outer {
position: absolute;
white-space: nowrap;
left: 0px;
top: 0px;
background-image: linear-gradient(#0B346E 0%, #141423 100%);
background-clip: text;
-webkit-background-clip: text;
color: #000000FF;
z-index: 2;
background: #00000000;
font-weight: 500;
margin: 0px 0px 0px 0px;
}

.inner {
white-space: nowrap;
position: absolute;
left: 0px;
top: 0px;
-webkit-text-stroke: 0.1em rgba(255, 255, 255, 0);
z-index: 1;
background: #00000000;
margin: 0px 0px 0px 0px;
}

.zhanwei {
color: transparent;
white-space: nowrap;
}

.TextBox_textElement_Settled {
position: relative;
opacity: 1;
}

.TextBox_showName {
font-size: 100%;
padding: 0 2em 0 2em;
position: absolute;
left: 10px;
top: 170px;
height: 80px;
line-height: 68px;
border-radius: 0px 0px 0px 0px;
z-index: 3;
border: none;
letter-spacing: 10px;
}

.TextBox_ShowName_Background {
z-index: 2;
background: #00000000;
border: none;
box-shadow: 0px 0px 0px rgba(100, 100, 100, 0);
}

.miniAvatarContainer {
position: absolute;
height: 175px;
width: 175px;
bottom: 80px;
left: 210px;
border-radius: 0px 0px 0px 0px;
overflow: hidden;
}

.miniAvatarImg {
max-height: 175px;
max-width: 175px;
position: absolute;
filter: none;
}

.nameContainer {
position: absolute;
top: -3.5em;
left: 5px;
}

.outerName {
position: absolute;
left: 90px;
top: 0;
background: linear-gradient(150deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgb(165, 212, 228) 100%);
background-clip: text;
-webkit-background-clip: text;
color: #000000FF;
z-index: 2;
font-size: 130%;
font-weight: normal;
letter-spacing: 20.;
}

.innerName {
position: absolute;
left: 90px;
top: 0;
z-index: 1;
color: #000000FF;
font-size: 130%;
letter-spacing: 20.;
}

.text {
overflow: hidden;
line-height: 1.3em;
font-size: 53px !important;
}

.TextBox_Background_forbad {
z-index: 2;
background: url("game/template/assets/sh.png");
opacity: 1 !important;
}

.text_forbad {
overflow: none;
transform: rotate(180deg);
color: #a02525;
line-height: 1.25em;
font-size: 83px !important;
}

.outer_forbad {
position: absolute;
white-space: nowrap;
left: 0px;
top: 0px;
background-image: linear-gradient(#0B346E 0%, #141423 100%);
background-clip: text;
-webkit-background-clip: text;
color: rgb(172, 28, 28);
z-index: 2;
background: #00000000;
font-weight: 500;
margin: 0px 0px 0px 0px;
}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes TextDelayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
