<<<<<<< HEAD
.Title_main {
width: 100%;
height: 100%;
position: absolute;
z-index: 13;
}

.Title_buttonList {
font-family: "思源宋体", serif;
display: flex;
position: absolute;
left: 85px;
top: 250px;
min-width: 25%;
height: 100%;
justify-content: center;
align-items: flex-start;
flex-flow: column;
transition: background 0.75s;
padding-left: 120px;
&:hover {
color: #FFFFFFFF;
}}

.Title_button {
height: 85px;
width: 550px;
font-weight: normal;
text-align: center;
flex: 0 1 auto;
cursor: pointer;
padding: 1em 2em 1em 2em;
margin: 15px 0px 10px 0px;
transition: all 0.33s;
background: #ffffff00;
backdrop-filter: blur(5px);
transform: none;
border-radius: 4px;
border-bottom: 10px solid #F977A2;
color: rgb(255, 255, 255);
line-height: 1;
&:hover {
text-shadow: 10px 0px 10px rgba(255, 255, 255, 0.3);
background: #F977A2;
}
&: {
}}

.Title_button_text {
color: transparent;
background: #000000FF;
padding: 0px 0.5px 0px 0.5px;
font-size: 190%;
font-family: WebgalUI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
letter-spacing: 0.15em;
-webkit-background-clip: text;

&:hover {
color: #FFFFFFFF;
}
}

.Title_backup_background {
width: 100%;
height: 100%;
position: absolute;
z-index: 13;
background: #000000FF;
}


=======
.Title_main {
width: 100%;
height: 100%;
position: absolute;
z-index: 13;
}

.Title_buttonList {
font-family: "思源宋体", serif;
display: flex;
position: absolute;
left: 85px;
top: 250px;
min-width: 25%;
height: 100%;
justify-content: center;
align-items: flex-start;
flex-flow: column;
transition: background 0.75s;
padding-left: 120px;

}

.Title_button {
height: 85px;
width: 550px;
font-weight: normal;
text-align: center;
flex: 0 1 auto;
cursor: pointer;
padding: 1em 2em 1em 2em;
margin: 15px 0px 10px 0px;
transition: all 0.33s;
background: #ffffff00;
backdrop-filter: blur(5px);
transform: none;
border-radius: 4px;
border-bottom: 10px solid #F977A2;
color: rgb(255, 255, 255);
line-height: 1;
&:hover {
text-shadow: 10px 0px 10px rgba(255, 255, 255, 0.3);
background: #F977A2;
}
&: {
}}

.Title_button_text {
color: transparent;
background: #000000FF;
padding: 0px 0.5px 0px 0.5px;
font-size: 190%;
font-family: WebgalUI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
letter-spacing: 0.15em;
-webkit-background-clip: text;
}

.Title_backup_background {
width: 100%;
height: 100%;
position: absolute;
z-index: 13;
background: linear-gradient(135deg, #fdfbfb 0%, #dcddde 100%);
}


>>>>>>> 44579470d034cf9e155d2fff6db9b89cb9fdcc27
