.Choose_Main {
position: absolute;
width: 100%;
height: 100%;
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
z-index: 13;
bottom: 100px;
left: 60px;
}

.Choose_item {
font-family: "WebgalUI", serif;
cursor: pointer;
padding: 0px 0px 0px 0px;
min-width: 180px;
font-size: 265%;
<<<<<<< HEAD
color: #000000FF;
=======
color: #8E354A;
>>>>>>> 44579470d034cf9e155d2fff6db9b89cb9fdcc27
text-align: center;
border-radius: 4px;
background: url("game/template/assets/button.png") no-repeat left top;
background-size: 100% 100%;
transition: all 0.3s ease;
margin: 10px 10px 0px 10px;
height: 110px;
line-height: 100px;
max-width: 100%;
&:hover {
background: url("game/template/assets/button.png") no-repeat left top;
background-size: 100% 100%;
}}

.Choose_item_disabled {
font-family: "WebgalUI", serif;
cursor: pointer;
padding: 0px 0px 0px 0px;
min-width: 180px;
font-size: 265%;
<<<<<<< HEAD
color: #000000FF;
=======
color: #8E354A;
>>>>>>> 44579470d034cf9e155d2fff6db9b89cb9fdcc27
text-align: center;
border-radius: 4px;
background: url("game/template/assets/button.png") no-repeat left top;
background-size: 100% 100%;
transition: all 0.3s ease;
margin: 10px 10px 0px 10px;
height: 110px;
line-height: 100px;
max-width: 100%;
<<<<<<< HEAD
}

.Choose_item_outer {
color: #00000000;
min-width: 50%;

}

.Choose_item_outer_chen_for1 {
color: #000;
min-width: 50%;
&:nth-child(1) {
        &>:first-child{
            background: url("game/template/assets/button_chen.png") no-repeat left top;
background-size: 100% 100%;
}
        &:hover {
            background-size: 100% 100%;
}}

.Choose_item_outer_chen_for2 {
color: #000;
min-width: 50%;
&:nth-child(2) {
        &>:first-child{
            background: url("game/template/assets/button_chen.png") no-repeat left top;
background-size: 100% 100%;
}
        &:hover {
            background-size: 100% 100%;
}}

.Choose_item_outer_chen_sp3 {
color: #000;
min-width: 50%;
&:nth-child(3) {
        &>:first-child{
            background: url("game/template/assets/button_chen_sp.png") no-repeat left top;
background-size: 100% 100%;
}
        &:hover {
            background-size: 100% 100%;
}}

.Choose_item_outer_ji_for1 {
color: #000;
min-width: 50%;
&:nth-child(1) {
        &>:first-child{
            background: url("game/template/assets/button_ji.png") no-repeat left top;
background-size: 100% 100%;
}
        &:hover {
            background-size: 100% 100%;
}}

.Choose_item_outer_jia_for2w3 {
color: #000;
min-width: 50%;
  &:nth-child(2),
  &:nth-child(3){
    & > :first-child {
      background: url("game/template/assets/button_jia.png") no-repeat left top;
      background-size: 100% 100%;
    }
    &:hover {
      background: url("game/template/assets/button_jia_hover.png") no-repeat left top;
      background-size: 100% 100%;
    }
  }
}

.Choose_item_outer_dinner_3_2 {
color: #000;
min-width: 50%;
    &:nth-child(2) > :first-child {
    background: url("game/template/assets/button_chen.png") no-repeat left top !important;
    background-size: 100% 100% !important;
  }
  
  &:nth-child(3) > :first-child {
    background: url("game/template/assets/button_jia.png") no-repeat left top !important;
    background-size: 100% 100% !important;
  }
  
  &:nth-child(4) > :first-child {
    background: url("game/template/assets/button_ji.png") no-repeat left top !important;
    background-size: 100% 100% !important;
  }
}

.Choose_item_outer_dinner_3_3 {
color: #000;
min-width: 50%;
    &:nth-child(1) > :first-child {
    background: url("game/template/assets/button_chen.png") no-repeat left top !important;
    background-size: 100% 100% !important;
  }
  
  &:nth-child(2) > :first-child {
    background: url("game/template/assets/button_jia.png") no-repeat left top !important;
    background-size: 100% 100% !important;
  }
}

.Choose_item_outer_dinner_3_3b {
color: #000;
min-width: 50%;
  &:nth-child(1) > :first-child {
    background: url("game/template/assets/button_jia.png") no-repeat left top !important;
    background-size: 100% 100% !important;
  }
}

.Choose_Main_text {
position: absolute;
width: 150px;
height: 30px;
right: 130px;
top: 700px;
}

.Choose_item_text {
margin: 50px 0 50px 0;
color: #000;
}



=======

}

.Choose_item_outer {
color: #000;
min-width: 50%;
}

.Choose_item_outer_chen_for2{
  color: #000;
  min-width: 50%;
    &:nth-child(2) {
        &>:first-child{
            background: url("game/template/assets/button_chen.png") no-repeat left top;
            background-size: 100% 100%;
        }
        &:hover {
            background-size: 100% 100%;
        }
  }
}

.Choose_Main_text{
    position: absolute;
    width: 150px;
    height: 30px;
    right: 130px;
    top: 700px;
}

.Choose_item_text{
    margin: 50px 0 50px 0;
    color: #000;
}
>>>>>>> 44579470d034cf9e155d2fff6db9b89cb9fdcc27
