.Choose_Main {
position: absolute;
width: 100%;
height: 100%;
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
z-index: 13;
bottom: 100px;
left: 60px;
}

.Choose_item {
font-family: "WebgalUI", serif;
cursor: pointer;
padding: 0px 0px 0px 0px;
min-width: 180px;
font-size: 265%;
color: #8E354A;
text-align: center;
border-radius: 4px;
background: url("game/template/assets/button.png") no-repeat left top;
background-size: 100% 100%;
transition: all 0.3s ease;
margin: 10px 10px 0px 10px;
height: 110px;
line-height: 100px;
max-width: 100%;
&:hover {
background: url("game/template/assets/button.png") no-repeat left top;
background-size: 100% 100%;
}}

.Choose_item_disabled {
font-family: "WebgalUI", serif;
cursor: pointer;
padding: 0px 0px 0px 0px;
min-width: 180px;
font-size: 265%;
color: #8E354A;
text-align: center;
border-radius: 4px;
background: url("game/template/assets/button.png") no-repeat left top;
background-size: 100% 100%;
transition: all 0.3s ease;
margin: 10px 10px 0px 10px;
height: 110px;
line-height: 100px;
max-width: 100%;

}

.Choose_item_outer {
color: #000;
min-width: 50%;
}

.Choose_item_outer_chen_for2{
  color: #000;
  min-width: 50%;
    &:nth-child(2) {
        &>:first-child{
            background: url("game/template/assets/button_chen.png") no-repeat left top;
            background-size: 100% 100%;
        }
        &:hover {
            background-size: 100% 100%;
        }
  }
}

.Choose_Main_text{
    position: absolute;
    width: 150px;
    height: 30px;
    right: 130px;
    top: 700px;
}

.Choose_item_text{
    margin: 50px 0 50px 0;
    color: #000;
}